
body {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
  .editImage{
    height: 30vh !important;
    width: 100% !important;
  }
  .images {
    height: 30vh !important;
    overflow: hidden !important;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
