@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";

* {
padding:0;
margin:0
}

body {
font-family:"Roboto",serif;
text-transform:capitalize;
scroll-behavior:smooth;
background-color:var(--bg-color)!important
}

:root {
--bg-color:#fff;
--font-color:#181A1C;
--hovered:#181A1C;
--accent:#20359F;
--light-bg:#EDF4FF;
--baby-blue:#2A6DCE;
--gradient-bg:linear-gradient(to right,#2E3192,#1EADD2);
background-color:#f8f8f8
}

html {
height:100%
}

body {
font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif
}

.flex {
display:flex;
align-items:center
}

.border {
border:3px solid red
}

.line {
padding:5rem
}

br {
background-color:#000
}